stages:
  - components

default:
  tags:
    - infra

components:update:
  image: ruby:3.2.2
  stage: components
  resource_group: components_update
  timeout: 10 min
  parallel:
    matrix:
      - COMPONENT:
          - aquila
          - draco
          - sagittarius
          - sculptor
          - taurus
  script:
    - bundle install
    - bin/pyxis components update $COMPONENT
  rules:
    - if: $UPDATE_COMPONENTS == "true"
