name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Ruby

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
      - name: Run rubocop
        run: bundle exec rubocop

  build-docker:
    name: Build Image
    runs-on: ubuntu-latest

    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v6
      - run: >-
          docker build
          -t ghcr.io/code0-tech/pyxis:${{ github.run_number }}
          -f Dockerfile
          .
      - run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u $ --password-stdin ghcr.io
        name: Login to registry
        if: ${{ github.event_name == 'push' }}
      - run: docker push ghcr.io/code0-tech/pyxis:${{ github.run_number }}
        if: ${{ github.event_name == 'push' }}
